body {
	background-color: #efefef;
	color: #fff;
	height: 100vh;
}

/*Carousel Section*/

/*.carousel-height {
	height: 20%;
	
}*/

/*Image Slides Section*/








/*Footer Section*/

#footer {
	background-color: #fff;
	color: #000;
	padding: 7% 15%;
	text-align: center;
}

.social-icon {
	margin: 20px 10px;
}